header {
  display: flex;
  align-items: center;
  height: 68px;
  padding: 0 4%;
  position: fixed;
  width: calc(100% - 8%);
  top: 0;
  background-color: transparent;
  transition: background-color 400ms;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.7) 10%,
    rgba(0, 0, 0, 0)
  );
}

.scroll {
  background-color: #141414;
}
