.primary-navigation {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.navigation-tabs {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  width: 100%;
}

.navigation-item {
  // margin-left: 20px;
  // font-size: 1.35rem;
  font-size: 1.4rem;
  font-weight: 500;
  a {
    color: #e5e5e5;
    transition: color 400ms;
    text-decoration: none;
    cursor: pointer;
    &:hover,
    &:focus {
      color: #b3b3b3;
    }
  }
}

.navigation-item.home,
.navigation-item.latest {
  display: none;
}
